---
import Layout from '@/layouts/Layout.astro';

import AboutMe from '@/components/AboutMe.astro';
import Badge from '@/components/Badge.astro';
import Briefcase from '@/components/icons/Briefcase.astro';
import CodeIcon from '@/components/icons/Code.astro';
import Experience from '@/components/Experience.astro';
import GitHubIcon from '@/components/icons/GitHub.astro';
import LinkedInIcon from '@/components/icons/LinkedIn.astro';
import MailIcon from '@/components/icons/Mail.astro';
import ProfileCheck from '@/components/icons/ProfileCheck.astro';
import Projects from '@/components/Projects.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import SocialPill from '@/components/SocialPill.astro';
---

<Layout icon="/srgobi.webp" title="Porfolio de srgobi - Desarrollador y Programador Web con 5 años de experiencia" description="Contrata a srgobi para crear tu aplicación web o móvil. Desarrollador Web Full-Stack. Especializado en crear aplicaciones únicas.">
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<img class="rounded-full size-12 mb-4" src="/srgobi.webp" alt="srgobi logo" />
			<h1 class="text-zinc-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy srgobi <a href="https://linkedin.com/in/srgobi" target="_blank" rel="noopener" class="flex justify-center items-center hover:scale-105 transition">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white">
				<span>+5 años de experiencia.</span><span class="text-yellow-800 dark:text-yellow-200"> Desarrollador Web Full-Stack</span>
				.<span class="text-red-800 dark:text-red-200"> De Granada, España</span>.
				<span class="text-sky-800 dark:text-sky-200">Especializado en crear aplicaciones únicas.</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://linkedin.com/in/srgobi">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/srgobi">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:contacto@srgobi.com">
					<MailIcon class="size-4 md:size-6" />
					contacto@srgobi.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<div class="space-y-24">
			<SectionContainer id="experiencia">
				<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/90 dark:text-white/90">
					<Briefcase class="size-7" />
					Experiencia laboral
				</h2>
				<Experience />
			</SectionContainer>

			<SectionContainer id="proyectos">
				<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/90 dark:text-white/90">
					<CodeIcon class="size-7" />
					Proyectos
				</h2>
				<Projects />
			</SectionContainer>

			<SectionContainer id="sobre-mi">
				<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/90 dark:text-white/90">
					<ProfileCheck class="size-7" />
					Sobre mi
				</h2>
				<AboutMe />
			</SectionContainer>
		</div>
	</main>
</Layout>
