---
const personalImageAlt = 'Alejandro';
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
	<div class="[&>p]:mb-4 [&>p>strong]:text-blue-800 dark:[&>p>strong]:text-blue-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
		<p>
			Me llamo Alejandro pero mis amigos me llaman SrGobi. Empecé en la programación a los 14 años creando mi primera pagina web para un equipo de eSports que tambien fundé. Actualmente estoy <strong>liderando equipos de desarrollo en ESP CUSTOMS LLC</strong>.
		</p>

		<p>
			Como creador de contenido, <strong>cuento con uno de los servidores de Discord mas grandes de habla hispana más visitado en la comunidad de <em class="italic">Software Development</em></strong>. Mi objetivo es mejorar la empleabilidad de la comunidad hispana y el acceso a contenido de calidad.
		</p>
	</div>

	<img src="/me.webp" class="size-72 order-1 md:order-2" alt={personalImageAlt} />
</article>