---
const personalImageAlt = 'Alejandro';
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
	<div class="[&>p]:mb-4 [&>p>strong]:text-blue-800 dark:[&>p>strong]:text-blue-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
		<p>
			Hola, soy Alejandro, aunque muchos me conocen como SrGobi. <strong>He trabajado en diversos proyectos y colaborado con varias empresas</strong>, siempre con el objetivo de ofrecer soluciones efectivas y de calidad en desarrollo web y tecnologías avanzadas.
			<p>
				<strong>Actualmente, me dedico al mundo del freelance, desarrollando e-commerce y aplicaciones web.</strong> He creado ESP CUSTOMS LLC, un potente bot de Discord, y mi proyecto más reciente es AuraFut.com, una tienda en línea dedicada a la venta de camisetas de fútbol. Además, colaboro en proyectos comunitarios mientras continúo construyendo mi propia marca.
			</p>
		</p>
	</div>
	<img src="/me.webp" class="size-72 order-1 md:order-2" alt={personalImageAlt} />
</article>
