---
import ExperienceItem from './ExperienceItem.astro';
import { TAGS } from './TagsIcons.astro';

const EXPERIENCIE = [
	{
		date: 'Agosto 2021 - Actualmente...',
		title: 'Fundador y CEO − ESP CUSTOMS LLC',
		description:
			'Responsable de la creación y desarrollo integral de la plataforma. Diseñé y desarrollé desde cero tanto el servidor como el panel web, implementando una base de datos robusta, integración de APIs internas/externas y un sistema de eventos para la comunicación y componentización del proyecto. Mejoré la eficiencia del sistema, implementé pruebas exhaustivas y una gestión continua, logrando un despliegue eficiente y un soporte eficaz.',
		link: 'https://espcustoms.xyz',
		tags: [TAGS.TYPESCRIPT, TAGS.NODE, TAGS.ANGULAR, TAGS.BOOTSTRAP]
	},
	{
		date: 'Enero 2024',
		title: 'Desarrollador de aplicaciones webs − Kemi Technology',
		description: 'Encargado de impulsar la mejora continua y el progreso en la aplicación web. Mi rol ha consistido en componentizar y optimizar cada área existente para garantizar un rendimiento óptimo. Además, he contribuido significativamente agregando funcionalidades clave como la moderación de chats y respuestas automáticas a preguntas frecuentes en el servidor de Discord. Asimismo, realicé mejoras y ajustes en la página web para asegurar una mayor eficiencia y efectividad en el soporte.',
		tags: [TAGS.TYPESCRIPT, TAGS.NODE, TAGS.REACT, TAGS.TAILWIND]
	}
];
---

<ol class="relative mt-16">
	{
		EXPERIENCIE.map((experiencie) => (
			<li class="">
				<ExperienceItem {...experiencie} />
			</li>
		))
	}
</ol>
