---
import ExperienceItem from './ExperienceItem.astro';
import { TAGS } from './TagsIcons.astro';

const EXPERIENCIE = [
	{
		date: 'Agosto 2021 - Actualmente...',
		title: 'ESP CUSTOMS LLC',
		description:
			'Responsable de la creación y desarrollo integral de la plataforma. Diseñé y desarrollé desde cero tanto el servidor como el panel web, implementando una base de datos robusta, integración de APIs internas/externas y un sistema de eventos para la comunicación y componentización del proyecto. Mejoré la eficiencia del sistema, implementé pruebas exhaustivas y una gestión continua, logrando un despliegue eficiente y un soporte eficaz.',
		link: 'https://espcustoms.xyz',
		tags: [TAGS.TYPESCRIPT, TAGS.NODE, TAGS.ANGULAR, TAGS.BOOTSTRAP]
	},
	{
		date: 'Enero 2024 - Actualmente...',
		title: 'Desarrollador Full Stack | Freelancer',
		description:
			'Me dedico a crear soluciones tecnológicas personalizadas para clientes particulares y empresas, gestionando proyectos completos desde la planificación y diseño de la arquitectura hasta la implementación de funcionalidades tanto en el front-end como en el back-end. A lo largo de este tiempo, he trabajado en proyectos como sistemas avanzados de bots para Discord, aplicaciones de gestión de contenido y plataformas de monetización. Mis soluciones se caracterizan por su eficiencia, seguridad y escalabilidad, siempre alineadas con los objetivos de negocio del cliente.',
		tags: [TAGS.TYPESCRIPT, TAGS.NODE, TAGS.REACT, TAGS.TAILWIND, TAGS.ANGULAR, TAGS.BOOTSTRAP, TAGS.MONGODB, TAGS.DISCORD]
	}
];
---

<ol class="relative mt-16">
	{
		EXPERIENCIE.map((experiencie) => (
			<li class="">
				<ExperienceItem {...experiencie} />
			</li>
		))
	}
</ol>
